.formSize {
    width:50%;
    margin: 1.5%;
    float:left;
    border:1px solid white;
    font-size: 220%;
}
#editUserButton{
    margin-top: 24%;
    margin-left: -28.7%;
}
#deleteMemoryPictures{
    margin-top: 2.6%;
    margin-left: 1%;
}
#deleteProfilePicture{
    margin-left: 15%;
    margin-top: 5.5%;
}
#inputFirstName {
    font-size: 100%;
    max-width: 45%;
    float: left;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}

#profilePicture{
    margin-left: 70%;
    margin-top: -28%;
    height: 15%;
    width: 15%;
}

#inputLastName {
    font-size: 100%;
    margin-left: 1%;
    max-width: 45%;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}

#inputBirthdate {
    font-size: 100%;
    max-width: 45%;
    float: left;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}


#inputGender {
    font-size: 100%;
    max-width: 45%;
    margin-left: 1%;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}


body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    background-color: white;
}

h1 {
    margin-top: -2%;
    text-align: center;
    font-size: 400%;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#createUserButton {
    float: right;
    margin-right: -5%;
    margin-top: 2%;
    font-size: 150%;
    border-radius: 10px;
}

.textflo{
    margin-left: 3%;
    margin-right: 30%;
}
.textdavid{
    margin-left: 20%;
    margin-right: 25%;
}
.david{
    margin-left: 3%;
    margin-top: -17%;
}
.flo{
    margin-top: -15%;
    margin-left: 78%;
}

.grid-container {
    margin-top: 0%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.grid-item {
    text-align: center;
}

.picturesForMemoryTxt {
    font-size: 150%;
    font-weight: bold;
}

#imgItemOne {
    width: 80%;
    height: 80%;
}
#imgItemTwo {
    width: 80%;
    height: 80%;
}
#imgItemThree {
    width: 80%;
    height: 80%;
}
#imgItemFour {
    width: 80%;
    height: 80%;
}


#profilePictureTxt {
    margin-top: 12%;
    margin-left: -51%;
    font-size: 110%;
}

#formFileProfilePictureInput {
    margin-top: 6.5%;
    margin-left: -51%;
    font-size: 110%;
    width: 35%;
    float: left;
}

#memoryPictureTxt {
    margin-top: 0%;
    float: left;
    font-size: 110%;
    margin-left: 2%;
}

#formFileMultipleMemoryPictureInput {
    margin-top: 2.5%;
    margin-left: -25%;
    font-size: 110%;
    width: 35%;
    float: left;
}