.formSize {
    width:50%;
    margin: 1.5%;
    float:left;
    border:1px solid white;
    font-size: 220%;
}
#editUserButton{
    margin-top: 24%;
    margin-left: -28.7%;
}
#inputFirstName {
    margin-top: 10%;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}
#inputFirstName2 {
    width: 100%;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}
#profilePicture{
    margin-left: 40%;
    margin-top: -5%;
    height: 15%;
    width: 15%;
}

#inputLastName {
    width: 100%;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}
#inputLastName2 {
    margin-top: -5%;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}

#inputBirthdate {
    font-size: 100%;
    max-width: 45%;
    float: left;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}

#inputBirthdate2 {
    font-size: 100%;
    max-width: 45%;
    float: left;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}

#inputGender {
    font-size: 100%;
    max-width: 45%;
    float: right;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}

#inputGender2 {
    font-size: 100%;
    max-width: 45%;
    float: right;
    border-radius: 25px;
    text-align: center;
    background-color: #c4bfbf;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 400%;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#createUserButton {
    float: right;
    margin-right: -5%;
    margin-top: 2%;
    font-size: 150%;
    border-radius: 10px;
}

.textflo{
    margin-left: 3%;
    margin-right: 30%;
}
.textdavid{
    margin-left: 20%;
    margin-right: 25%;
}
.david{
    margin-left: 3%;
    margin-top: -17%;
}
.flo{
    margin-top: -15%;
    margin-left: 78%;
}

.grid-container {
    margin-top: 0%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.grid-item {
    text-align: center;
}

.picturesForMemoryTxt {
    font-size: 150%;
    font-weight: bold;
}

#imgItemOne {
    width: 80%;
    height: 80%;
}
#imgItemTwo {
    width: 80%;
    height: 80%;
}
#imgItemThree {
    width: 80%;
    height: 80%;
}
#imgItemFour {
    width: 80%;
    height: 80%;
 }


#profilePictureTxt {
    float: right;
    margin-top: -12%;
    margin-right: 20%;
    font-size: 110%;
}

#formFileProfilePictureInput {
    margin-top: -9%;
    font-size: 110%;
    width: 35%;
    float: right;
    margin-right: 6%;
}

#memoryPictureTxt {
    float: right;
    margin-right: 16%;
    margin-top: -20%;
    font-size: 110%;
}

#formFileMultipleMemoryPictureInput {
    float: right;
    width: 35%;
    margin-right: 6%;
    margin-top: -17%;
    font-size: 110%;
    float: right;
}